// TabletGothic fonts.
@font-face{font-family:'Tablet Gothic';font-weight:400;font-style:normal;src:url(../fonts/360074_3_0.woff2) format("woff2"),url(../fonts/360074_3_0.woff) format("woff");font-display:swap;}@font-face{font-family:'Tablet Gothic';font-weight:400;font-style:italic;src:url(../fonts/360074_2_0.woff2) format("woff2"),url(../fonts/360074_2_0.woff) format("woff");font-display:swap;}@font-face{font-family:'Tablet Gothic';font-weight:600;font-style:normal;src:url(../fonts/360074_4_0.woff2) format("woff2"),url(../fonts/360074_4_0.woff) format("woff");font-display:swap;}@font-face{font-family:'Tablet Gothic';font-weight:700;font-style:normal;src:url(../fonts/360074_1_0.woff2) format("woff2"),url(../fonts/360074_1_0.woff) format("woff");font-display:swap;}

html,
body {
  height: 100%;
  font-family: 'Tablet Gothic', Frutiger, 'Frutiger Linotype', Univers, HelveticaNeue-Light, 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
}

body {
  background: #FFFFFF;
  overflow: hidden;
  color: #000;
}

h1, h2, h3, h4, h5, h6, p, span, a {
  font-family: 'Tablet Gothic', Frutiger, 'Frutiger Linotype', Univers, HelveticaNeue-Light, 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
}

#demo-container {
  position: relative;
  margin-top: 10px;
}

#demo-container .demo-container-section {
  position: relative;
  background-color: #FFFFFF;
  box-shadow: 0 2px 26px 0 rgba(0, 0, 0, 0.2);;
  margin: 0 20px;
}

.demo-container-section h4 {
  display: inline;
  position: absolute;
  width: auto;
  margin: 36px 0 0 26px;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.3px;
  text-transform: uppercase;
  line-height: 16px;
}

.demo-container-section h4 img {
  vertical-align: bottom;
  position: absolute;
  bottom: 2px;
  max-height: 34px;
  margin-left: 10px;
}

.demo-container-section h5.subtitle {
  display: inline;
  position: absolute;
  width: auto;
  margin: 61px 0 0 26px;
  font-weight: 400;
  font-size: 17.5px;
  line-height: 17.5px;
  letter-spacing: -0.13px;
  color: #85919A;
}

.ember-application {
  margin: 0;
  padding: 0;
}

#internet {
  background: #F5F8F8;
  padding: 20px 0;
  overflow: hidden;
  z-index: 3; /* We need to z-index all these so the box-shadows don't overlap */
}

#internet h4 {
  margin-top: 16px; /* Internet section needs 20px less top padding */
}

#internet h5.subtitle {
  margin-top: 41px;
}

#edge {
  padding: 0;
  min-height: 120px;
  overflow: hidden;
  z-index: 2;
}

.circleIcon img {
  margin: 0px 18px;
  display: block;
  position: relative;
}

#thecloud {
  display: table;
  margin: 0 auto;
}

.circleIcon {
  text-align: center;
  vertical-align: middle;
  margin: 0px 10px;
  height: 80px;
  width: 80px;
  border-radius: 100%;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.24);
  display: block;
  padding: 18px 0;
  float: left;
  transition: all 0.5s ease;
}

#diagramContainer {
  z-index: 1;
}

.multiplesites-container {
  background: url('../img/multiplesites.png') no-repeat 50% 70px;
  background-size: 100%;
}

#demo-container .disaster-container {
  box-shadow: none;
}

.disaster-container > h4 {
  display: none;
}

#diagramContainer,
#diagramContainer > svg {
  width: auto !important;
  margin: 0 auto;
}

#ember248 {
  width: 100%;
  transition: all 0.5s ease;
}

#ember248.emerge {
  transition: all 0.5s ease;
}

#infobarContainer {
  width: 33%;
  position: absolute;
  z-index: 99;
  right: -33%;
  margin-top: 0;
  margin-right: 0px;
  height: 450px;
  top: 150px;
  color: #fff;
  transition: all 0.5s ease;
  opacity: 0.95;
  height: auto !important;
  min-height: 20%;
  padding-bottom: 40px;
  background-color: #283139;
  border: 4px solid #EFD01B;
  box-shadow: 0 2px 26px 0 rgba(0, 0, 0, 0.2);
}

#infobarContainer.emerge {
  width: 33%;
  right: 0;
  margin-right: 30px;
  transition: all 0.5s ease;
}

.infobarContent {
  text-align: left;
  padding: 20px 32px 0 30px;
}

.body img {
  width: 100%;
  margin: 1em 0;
}

.infobarContent > h1 {
  text-align: center;
}

.header {
  text-align: left;
}

.header h1 {
  font-size: 25px;
  font-weight: 700;
  line-height: 30px;
  margin-bottom: 1em;
}

.header .img {
  text-align: center;
  vertical-align: middle;
  background: #fff;
  margin: 0;
  height: 80px;
  width: 80px;
  border-radius: 100%;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.24);
  display: block;
  padding: auto 0;
  transition: all 0.5s ease;
}

.header .img img {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.body p {
  clear: both;
  color: #fff;
  font-size: 15.8px;
  font-weight: 600;
  line-height: 30px;
  margin-bottom: 0;
}

a.logo {
  padding-top: 0;
}

.logo > img {
  margin-right: 10px;
}

/*------------------------NAVBAR---------------------------------*/
/*
@font-face {
  font-family: 'Glyphicons Regular';
  src: url("../fonts/glyphicons-regular.eot");
  src: url("../fonts/glyphicons-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/glyphicons-regular.woff2") format("woff2"), url("../fonts/glyphicons-regular.woff") format("woff"), url("../fonts/glyphicons-regular.ttf") format("truetype"), url("../fonts/glyphicons-regular.svg#glyphiconsregular") format("svg"); }
.glyphicons {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Regular';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  vertical-align: top;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }
.glyphicons-wrench:before {
    content: "\E440"; }
.glyphicons-equalizer:before {
      content: "\E586"; }
.glyphicons-cardio:before {
        content: "\E283"; }
*/
.navbar {
  box-shadow: 0 2px 26px 0 rgba(0, 0, 0, 0.2);
  height: 60px;
  border-radius: 0; /* Undo bootstrap default. */
  border: 0; /* Undo bootstrap default. */
  margin-bottom: 0;
}

.navbar-default .navbar-nav > li {
  height: 60px;
  margin: 0 30px;
}

.navbar-default .navbar-nav > li.active,
.navbar-default .navbar-nav > li.open,
.navbar-default .navbar-nav > li.highlighted {
  border-bottom: 4px solid #EFD01B;
}

.navbar-default .navbar-nav > li > a {
  letter-spacing: 0.5px;
  padding: 0;
  line-height: 60px;
  background: transparent;
}

.navbar-default .navbar-nav > li > a.dropdown-toggle {
  position: relative;
}

.dropdown-toggle b.glyphicon {
  margin-left: 5px;
  top: 2px;
}

.navbar-nav > li > .dropdown-menu {
  border: 0;
  padding: 0;
  margin-top: 4px;
  font-size 15px;
  min-width: 305px;
}

.dropdown-menu > li > a,
.dropdown-menu > li > .dropdown-submenu a {
  font-weight: 700;
  letter-spacing: 0.19px;
  line-height: 18px;
  color: #000;
  padding: 0 25px;
  white-space: nowrap;
  clear: both;
}

.dropdown-menu > li {
  margin: 18px 0;
}

.dropdown-menu > li > .dropdown-submenu {
  list-style: none;
  margin: 0;
  padding: 0;
}

.dropdown-menu > li > .dropdown-submenu > li {
  margin: 14px 0;
}

/** Most of the next few following rules are undoing Bootstrap's nightmare. */
.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus {
  background: transparent;
  color: #000;
}

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
  background: transparent;
  color: #85919A;
}

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus,
.dropdown-menu > li > .dropdown-submenu a:hover,
.dropdown-menu > li > .dropdown-submenu a:focus {
  background: transparent;
  color: #85919A;
  transition: all 0.2s ease;
  text-decoration: none;
}

.dropdown-submenu-header {
  background: #ECF0F2;
  padding-bottom: 4px;
}

.dropdown-menu .dropdown-submenu-header > a {
  color: #51606A;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.6px;
  text-transform: uppercase;
  padding-top: 24px;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:active,
.navbar-default .navbar-nav > li > a:focus {
  transition: all 0.2s ease;
  background: transparent;
  outline: none;
}

.navbar-default .navbar-nav > li.active > a {
  background: transparent;
  outline: none;
}

/* Undoing Bootstrap's horrible defaults. */
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:active,
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:active,
.navbar-default .navbar-nav > .open > a:focus {
  background: transparent;
  outline: none;
}